<style>
    .container {
        margin-top: 40px;
    }


    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 2.5em;
    }

    .event {
        margin-top: 40px;

    }

    .event img {
        max-width: 70%;
        height: 300px;
        margin-bottom: 80px;
    }

    .event-date {
        font-size: 1.2em;
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    a {
        color: #000;
        font-weight: bold;
    }

    .final {
        margin-bottom: 40px;
    }
</style>

<div class="container">

    <!-- Evento 1 -->
    <div class="row event">
        <h1>Eventos</h1>
        <div class="col-md-4">
            <img src="assets/eventos/Asdesilla.webp" alt="Imagen del Evento">
        </div>
        <div class="col-md-8 col2">
            <h2> Rionegro,Antioquia - EXPORIENTE </h2>
            <div class="event-date">25 al 28 enero 2024 </div>
            <h3>Grado A</h3>
            <p>Organizada por <a href="https://www.instagram.com/asdesilla/?hl=es">ASDESILLA</a></p>
            <p> <strong>EXPORIENTE</strong> es uno de los eventos más destacados del calendario ecuestre en Colombia,
                celebrado en la
                vibrante ciudad de Rionegro, Antioquia. Esta feria de grado A reúne a los mejores ejemplares de caballos
                criollos colombianos, ofreciendo a los asistentes una oportunidad única de apreciar la excelencia en la
                cría y entrenamiento de estos magníficos animales. Además de las exhibiciones de caballos, el evento
                incluye una variedad de actividades para toda la familia, desde competencias y demostraciones hasta
                espacios gastronómicos y culturales. EXPORIENTE es el escenario perfecto para que criadores y
                aficionados compartan experiencias y conocimientos, fortaleciendo la comunidad ecuestre local e
                internacional.</p>
        </div>
    </div>

    <!-- Evento 2 -->
    <div class="row event">
        <div class="col-md-4">
            <img src="assets/eventos/feriadeflores.jpg" alt="Imagen de la Feria de Flores">
        </div>
        <div class="col-md-8 col2">
            <h2>Medellín - Feria de Flores</h2>
            <div class="event-date">7 al 11 de agosto de 2024</div>
            <h3>Grado A</h3>
            <p>Organizada por <a href="https://www.instagram.com/asdesilla/?hl=es">ASDESILLA</a></p>
            <p>La <strong>FERIA DE FLORES</strong> Sumérgete en el festival de colores y fragancias que ofrece la Feria
                de Flores en Medellín. Este evento de grado A reúne a los mejores ejemplares de caballos criollos
                colombianos, junto con demostraciones ecuestres y actividades culturales. Una oportunidad única para
                disfrutar de la belleza y la tradición ecuestre en un ambiente vibrante y festivo.</p>
        </div>
    </div>

    <!-- Puedes añadir más eventos siguiendo el mismo formato -->
    <div class="row event">
        <div class="col-md-4">
            <img src="assets/eventos/PalmiraCopaAmerica.webp" alt="Imagen de la Copa América en Palmira">
        </div>
        <div class="col-md-8 col2">
            <h2>Palmira - Copa América</h2>
            <div class="event-date">30 de octubre al 4 de noviembre de 2024</div>
            <h3>Grado A</h3>
            <p>Organizada por <a href="https://www.instagram.com/asdeoccidente.oficial/">ASOCCIDENTE</a> </p>
            <p>La <strong>FERIA EQUINA PALMIRA</strong> - COPA AMÉRICA no es solo una feria; es un encuentro ecuestre
                que destaca la esencia de la nobleza equina en la Ciudad de la Cosecha. Con el prestigioso Grado A, esta
                feria atraerá a los mejores jinetes y caballos del país, creando un ambiente lleno de emoción y
                admiración por la destreza y elegancia de estos majestuosos animales.</p>

        </div>
    </div>
</div>
<!-- Añade más eventos aquí siguiendo el mismo formato -->