<!-- Navbar -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" routerLink="" [ngClass]="{active:menuOption === 'home'}"
          (click)="onOption('home')">
          <img src="../assets/iconos/portonSinFondoNoHd.png" height="96" alt="porton de la palma" loading="lazy" />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngClass]="{active:menuOption === 'home'}"
              (click)="onOption('home')">INICIO </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us" [ngClass]="{active:menuOption === 'about-us'}"
              (click)="onOption('about-us')">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="horse/v1" [ngClass]="{active: menuOption === 'horse/v1'}"
              (click)="onOption('horse/v1')">CABALLOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EVENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTO</a>
          </li>

        </ul>



        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <img src="../assets/iconos/iconoCarrito.png" alt="" class="rounded-circle carrito">
        </a>


        <!-- Avatar -->
        <div class="dropdown">
          <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
            role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="../assets/iconos/login.png" class="rounded-circle carrito" alt="Black and White Portrait of a Man"
              loading="lazy" />
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item">Settings</a>
            </li>
            <li>
              <a class="dropdown-item">Logout</a>
            </li>
          </ul>
        </div>


      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
</header>

<!-- inicio/home -->
<div class="prueba">
<router-outlet />
</div>

<footer class="footer-distributed">

  <div class="footer-left">

    <img src="../assets/iconos/portonSinFondoNoHd.png" alt="icono porton de la palma" id="imgFooter">

    <p class="footer-links">
      <a href="#" class="link-1">INICIO</a>

      <a href="#">CONTACTO</a>
    </p>

    <p class="footer-company-name">Porton de la plama © 2015</p>
  </div>

  <div class="footer-center">

    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3967.2461655677084!2d-75.33390422501063!3d6.097510293888871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMDUnNTEuMCJOIDc1wrAxOSc1Mi44Ilc!5e0!3m2!1ses!2sco!4v1710544019425!5m2!1ses!2sco"
        width="50%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <i></i>
      <p><span>Carmen de Viboral</span> Antioquia</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">el.portondelapalma&#64;hotmail.com</a></p>
    </div>



  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Acerca de la Compañía</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
      sit amet.
    </p>

    <div class="footer-icons">

      <a href=""> <img src="../assets/iconos/icons8-facebook-nuevo-96.png" alt="" class="iconsFooter"></a>
      <a href="#"><img src="../assets/iconos/icons8-instagram-96.png" alt="" class="iconsFooter"></a>
      <a href="#"><img src="../assets/iconos/icons8-twitterx-96.png" alt="" class="iconsFooter"></a>

    </div>

  </div>

</footer>