<div class="container-fluid">

    <div class="row ">

        <h1 class="">Registro de Usuario</h1>
        <form class="formContainer" [formGroup]="registerForm" (ngSubmit)="submit($event)">
            <div class="row justify-content-center">
                <div class="col-3">
                    <label for="nombre">*Nombre: </label>
                    <input id="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                        formControlName="firstname" [ngClass]="{'is-invalid': hasErrors('firstname', 'required')}">
                    <div *ngIf="hasErrors('firstname', 'required')" class="text-danger">El nombre es requerido</div>
                </div>
                <div class="col-3">
                    <label for="apellido">*Apellido: </label>
                    <input id="apellido" type="text" class="form-control" placeholder="Apellido" aria-label="Apellido"
                        formControlName="lastName" [ngClass]="{'is-invalid': hasErrors('lastName', 'required')}">
                    <div *ngIf="hasErrors('lastName', 'required')" class="text-danger">El apellido es requerido</div>
                </div>
            </div>

            <div class="row justify-content-center">


                <div class="col-2 ">
                    <label for="cedula">*Cédula: </label>
                    <input id="cedula" type="text" class="form-control" placeholder="Cédula" aria-label="Cedula"
                        formControlName="dni" [ngClass]="{'is-invalid': hasErrors('dni', 'required')}">
                    <div *ngIf="hasErrors('dni', 'required')" class="text-danger">La cédula es requerida</div>
                </div>

                <div class="col-2">
                    <label for="correo">*Correo Electrónico: </label>
                    <input id="correo" type="text" class="form-control" placeholder="Correo Electrónico:"
                        aria-label="*Correo Electronico:" formControlName="email"
                        [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}">
                    <div *ngIf="hasErrors('email', 'required')" class="text-danger">El Correo electrónico es requerido
                    </div>
                </div>
                <div class="col-2">
                    <label for="celular">*Celular o Teléfono: </label>
                    <input id="celular" type="text" class="form-control" placeholder="Celular o Teléfono"
                        aria-label="Celular" formControlName="cellphone"
                        [ngClass]="{'is-invalid': hasErrors('cellphone', 'required')}">
                    <div *ngIf="hasErrors('cellphone', 'required')" class="text-danger">El celular o el telefono es
                        requerido</div>
                </div>


            </div>

            <div class="row justify-content-center">
                


                <div class="col-3">
                    <label for="">*Contraseña: </label>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                        formControlName="password"
                        [ngClass]="{'is-invalid': hasErrors('password', 'required') || hasErrors('password', 'minlength')}">
                    <div *ngIf="hasErrors('password', 'required')" class="text-danger">La contraseña es requerida</div>
                    <div *ngIf="hasErrors('password', 'minlength')" class="text-danger">La contraseña debe tener minimo
                        6 caracteres</div>
                </div>

                <div class="col-3">
                    <label for="">*Confirmar Contraseña: </label>
                    <input type="text" class="form-control" placeholder="Confirmar Contraseña" aria-label="Contraseña"
                        formControlName="confirmPassword" [ngClass]="{'is-invalid': hasErrors('password', 'required')}">
                    <div *ngIf="hasErrors('confirmPassword', 'required')" class="text-danger">La confirmación de la
                        contraseña es requerida
                    </div>
                    <div *ngIf="registerForm.hasError('notSame')" class="text-danger">Las contraseñas no coinciden</div>
                </div>


            </div>



            <div class="row justify-content-center">

                <div class="col-2">
                    <label for="country">*País: </label>
                    <select id="country" class="form-control" formControlName="country"
                        [ngClass]="{'is-invalid': hasErrors('country', 'required')}">
                        <option value="">Seleccione un País</option>
                        <option [value]="country?.name">
                            {{ country?.name }}
                        </option>
                    </select>
                    <div *ngIf="hasErrors('country', 'required')" class="text-danger">El país es requerido</div>
                </div>

                <div class="col-2">
                    <label for="departamento">*Departamento: </label>
                    <select class="form-control" id="departamento" formControlName="department"
                        [ngClass]="{'is-invalid': hasErrors('department', 'required')}">
                        <option value="">Seleccione un Departamento</option>
                        <option [value]="department?.name" *ngIf="department?.name">
                            {{ department?.name }}
                        </option>
                    </select>
                    <div *ngIf="hasErrors('department', 'required')" class="text-danger">El departamento es requerido</div>
                </div>

                <div class="col-2">
                    <label for="city">*Ciudad: </label>
                    <select class="form-control" id="city" formControlName="city"
                        [ngClass]="{'is-invalid': hasErrors('city', 'required')}">
                        <option value="">Seleccione una Ciudad</option>
                        <option *ngFor="let cityItem of city" [value]="cityItem?.name">
                            {{ cityItem?.name }}
                        </option>
                    </select>
                    <div *ngIf="hasErrors('city', 'required')" class="text-danger">La ciudad es requerida</div>
                </div>


            </div>
            <div class="row justify-content-center">
     
                <div class="col-3">
                    <label for="streetType1">*Tipo de vía: </label>
                    <input id="streetType1" type="text" class="form-control" placeholder="Tipo de vía" aria-label="Tipo de vía"
                        formControlName="streetType1" [ngClass]="{'is-invalid': hasErrors('streetType1', 'required')}">
                    <div *ngIf="hasErrors('streetType1', 'required')" class="text-danger">El tipo de vía es requerido</div>
                </div>
            
                <div class="col-3">
                    <label for="streetNumber1">*Número de la vía: </label>
                    <input id="streetNumber1" type="text" class="form-control" placeholder="Número de la vía" aria-label="Número de la vía"
                        formControlName="streetNumber1" [ngClass]="{'is-invalid': hasErrors('streetNumber1', 'required')}">
                    <div *ngIf="hasErrors('streetNumber1', 'required')" class="text-danger">El número de la calle es requerido</div>
                </div>
            

            

            </div>

            <div class="row justify-content-center">

                <div class="col-2">
                    <label for="streetType2">*Tipo de vía: </label>
                    <input id="streetType2" type="text" class="form-control" placeholder="Número del apartamento" aria-label="Número del apartamento"
                        formControlName="streetType2" [ngClass]="{'is-invalid': hasErrors('streetType2', 'required')}">
                    <div *ngIf="hasErrors('streetType2', 'required')" class="text-danger">tipo de vía obligatorio</div>
                </div>

                <div class="col-2">
                    <label for="streetNumber2">*Número de la via: </label>
                    <input id="streetNumber2" type="text" class="form-control" placeholder="Número del apartamento" aria-label="Número del apartamento"
                        formControlName="streetNumber2" [ngClass]="{'is-invalid': hasErrors('streetNumber2', 'required')}">
                    <div *ngIf="hasErrors('streetNumber2', 'required')" class="text-danger">El número de la vía es requerido</div>
                </div>

                <div class="col-2">
                    <label for="localAptoNumber">*Número de la casa: </label>
                    <input id="localAptoNumber" type="text" class="form-control" placeholder="Número del apartamento" aria-label="Número del apartamento"
                        formControlName="localAptoNumber" [ngClass]="{'is-invalid': hasErrors('localAptoNumber', 'required')}">
                    <div *ngIf="hasErrors('localAptoNumber', 'required')" class="text-danger">El número del apartamento es requerido</div>
                </div>



            </div>

            <div class="row justify-content-center">

                <div class="col-3">
                    <label for="apto">apartamento: </label>
                    <input id="apto" type="text" class="form-control" placeholder="Número del apartamento" aria-label="Número del apartamento"
                        formControlName="apto" >
                </div>


                <div class="col-3">
                    <label for="postalCode">*Código postal: </label>
                    <input id="postalCode" type="text" class="form-control" placeholder="Código postal" aria-label="Código postal"
                        formControlName="postalCode" [ngClass]="{'is-invalid': hasErrors('postalCode', 'required')}">
                    <div *ngIf="hasErrors('postalCode', 'required')" class="text-danger">El código postal es requerido</div>
                </div>
                 
            </div>



            <button type="submit" [disabled]="!registerForm.valid">Registrar</button>

        </form>
    </div>

</div>