.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 1%;
}



.sale-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajusta a tu necesidad */
    justify-content: center;
    margin-bottom: 30px;
    padding: 50px;
    margin-left: 3%;
    background-color: #776B5D;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    border: 1px solid #878787;
    
}

.sale-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta a tu necesidad */
    margin-bottom: 10px; /* Ajusta a tu necesidad */
    

}

.items-container {
    display: flex;
    align-items: center;
    width: 100%; /* Ajusta a tu necesidad */
    margin-left: 6%;
    
}

.item-card {
    flex: 0 0 auto;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px; /* Ajusta a tu necesidad */
    padding: 10px;
    background-color: #5f574e;
    border: 1px solid #5f574e;
    border-radius: 5px;

}
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-right: 2%;
    border-radius: 5%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .pagination button:not(:disabled):hover {
    background-color: #0056b3;
  }
  
  .pagination span {
    margin: 0 10px;
  }