<div class="container-fluid">

  <div class=" all">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <h1 style="margin-bottom: 50px ;">Nuestro equipo</h1>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="assets/trabajadores/tio.png"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="assets/trabajadores/tio.png" width="100%" height="100%" />
        </svg>
        <h2 class="fw-normal" style="margin-top: 20px;">Rigo Villegas</h2>
        <h4 class="fw-normal">Montador</h4>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="assets/trabajadores/leonardo.png"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="assets/trabajadores/leonardo.png" width="100%" height="100%" />
        </svg>
        <h2 class="fw-normal" style="margin-top: 20px;">Leonardo Betancur</h2>
        <h4 class="fw-normal">Palafrenero</h4>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="assets/trabajadores/hector.png"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="assets/trabajadores/hector.png" width="100%" height="100%" />
        </svg>
        <h2 class="fw-normal" style="margin-top: 20px;">Héctor Fabio Dávila</h2>
        <h4 class="fw-normal">Montador y Herrero</h4>
      </div><!-- /.col-lg-4 -->
      <p><a class="btn btn-secondary" routerLink="about-us" (click)="navigateTo('about-us')">Nosotros</a></p>
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Equinos en nuestro criadero</h2>
        <p class="lead">Descubre la excelencia y la pasión por los equinos en nuestro criadero. Con un compromiso
          inquebrantable hacia la crianza responsable y el cuidado de nuestros caballos, en nuestro criadero encontrarás
          ejemplares de la más alta calidad, criados con amor y dedicación. Desde potros prometedores hasta campeones
          consagrados, cada uno de nuestros equinos representa lo mejor de su raza. Ven y sumérgete en el mundo
          fascinante de los caballos en nuestro criadero, donde la belleza, la gracia y la nobleza equina se fusionan en
          una experiencia inolvidable.
        </p>
      </div>
      <div class="col-md-5">

        <img src="assets/caballos hd/caballo-cuarto-de-milla.jpg" alt="caballo cuarto de milla" width="70%" height="80%">

      </div>
      <p><a class="btn btn-secondary" routerLink="about-us" (click)="navigateTo('horse/v1')">Nuestros Equinos</a></p>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Productos para equinos</h2>
        <p class="lead">Explora nuestra selección de productos diseñados para el cuidado y el bienestar de tus equinos.
          Desde alimentos balanceados hasta suplementos nutricionales, pasando por accesorios de cuidado y equipamiento
          para la práctica ecuestre, ofrecemos todo lo que necesitas para mantener a tus caballos en óptimas
          condiciones. Nuestros productos han sido seleccionados cuidadosamente, pensando en la salud y el rendimiento
          de tus animales. Confía en nosotros para encontrar soluciones confiables y de calidad para todas las
          necesidades de tus equinos.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/productos/productosequino.jpg" alt="Silla de montar" width="70%" height="80%">
      </div>
    </div>
    <p><a class="btn btn-secondary" routerLink="product/v1" (click)="navigateTo('product/v1')">Productos</a></p>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Nuestros servicios</h2>
        <p class="lead">En Portón de la Palma, nos enorgullece ofrecerte una amplia gama de servicios diseñados para
          cubrir todas las necesidades relacionadas con tus equinos. Desde el cuidado integral de la salud hasta el
          entrenamiento especializado, nuestros servicios están respaldados por años de experiencia y dedicación a la
          excelencia. Ya sea que necesites atención veterinaria, asesoramiento en nutrición equina, programas de
          entrenamiento personalizados o servicios de reproducción de alta calidad, nuestro equipo de expertos está aquí
          para brindarte soluciones confiables y resultados excepcionales. Confía en nosotros para cuidar a tus equinos
          como si fueran nuestros propios compañeros.</p>
      </div>
      <div class="col-md-5" style="margin-bottom: 50px;">
        <img src="assets/servicios/pesebrera.webp" alt="pesebrera" width="70%" height="80%">
      </div>
    </div>
    <p><a class="btn btn-secondary" routerLink="product/v1" (click)="navigateTo('services/v1')">Servicios</a></p>

    <hr class="featurette-divider">

    

    <div class="row featurette">


        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Eventos nacionales</h2>
          <p class="lead">Descubre los eventos ecuestres más destacados de todo el país en nuestra sección de Eventos
            Nacionales. Desde competencias y exhibiciones hasta ferias y conferencias, te mantenemos al tanto de todo lo
            que está sucediendo en el mundo ecuestre a nivel nacional. Ya seas un competidor ávido, un aficionado
            apasionado o simplemente un amante de los caballos, encontrarás eventos emocionantes y oportunidades para
            aprender y disfrutar. ¡Únete a nosotros y sumérgete en la emoción de los eventos ecuestres nacionales!</p>
          </div>
          <div class="col-md-5 order-md-1" style="margin-bottom: 50px;">
            <img src="assets/eventos/feriadeflores.jpg" alt="feria de flores" width="70%" height="80%">
          </div>
          
        </div>
        <p><a class="btn btn-secondary" routerLink="event/v1" (click)="navigateTo('event/v1')">Eventos</a></p>


    <!-- /END THE FEATURETTES -->
  </div>
</div>