div.row {
    text-align: center;
    font-size: 1.1em;

}

.h3 {
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

button {
    height: 89%;
    width: 13.6%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(1) brightness(10);
}

iframe {

    margin-bottom: 100px;

}