h1 {
    text-align: center;
    margin-top: 150px;
}

.card {
    margin-bottom: 50px;
    border: 1px solid #d5caca;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 80%;
    height: 500px;
    background-color: #776B5D;
    color: white;
}




.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}