<div class="row">
    <h1>Lista de Servicios</h1>
</div>

<div class="container">


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

       
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src=""
                    alt="Imagen del servicio">
                <div class="card-body">
                    <h5 class="card-title text-body-primary text-center"></h5>

                    <p class="description"> </p>

                    <p class="card-text"><strong>Para mas informacion, comunicate con nosotros al numero +57
                        3117077455</strong></p>

                </div>
            </div>
        </div>
        
    </div>
</div>