<div class="row">
    <h1>Lista de Servicios</h1>
</div>

<div class="container">


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="assets/servicios/pesebrera.webp" alt="Imagen del servicio">
                <div class="card-body">
                    <h3 class="card-title text-body-primary text-center">Alquiler de Pesebreras </h3>

                    <p class="description">Ofrecemos el servicio de alquiler de pesebreras para caballos, proporcionando
                        un entorno seguro y cómodo para el alojamiento de tus equinos. Nuestras instalaciones están
                        diseñadas para garantizar el bienestar de los animales, con pesebreras espaciosas, ventilación
                        adecuada y acceso a servicios complementarios como alimentación, limpieza y cuidado veterinario.
                        Además, contamos con personal capacitado para atender las necesidades específicas de cada
                        caballo, asegurando su salud y comodidad en todo momento. </p>

                        <a href="https://wa.me/573117077455"
                            target="_blank" >
                            Para mas informacion, comunicate con nosotros al numero <span class="phone-number"> +57
                            3117077455</span>
                        </a>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets/servicios/monta.jpg"
                    alt="Imagen del servicio">
                <div class="card-body">
                    <h3 class="card-title text-body-primary text-center">Monta de Caballos</h3>

                    <p class="description"> Ofrecemos servicios de monta de caballos, diseñados tanto para principiantes
                        como para jinetes experimentados. Nuestros caballos están bien entrenados y son adecuados para
                        diferentes niveles de habilidad. Contamos con instructores profesionales que brindan clases
                        personalizadas y guiadas, asegurando una experiencia segura y agradable. Las sesiones pueden
                        incluir desde paseos recreativos hasta entrenamientos más avanzados, adaptándose a las
                        necesidades y objetivos de cada jinete. Disfruta de la naturaleza y mejora tus habilidades
                        ecuestres con nosotros. </p>

                        <a href="https://wa.me/573117077455"
                            target="_blank" >
                            Para mas informacion, comunicate con nosotros al numero <span class="phone-number"> +57
                            3117077455</span>
                        </a>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="assets/servicios/inseminacion.jpg" alt="Imagen del servicio">
                <div class="card-body">
                    <h3 class="card-title text-body-primary text-center">Inseminación</h3>

                    <p class="description"> Ofrecemos servicios de inseminación equina utilizando técnicas avanzadas
                        para asegurar la mejor tasa de éxito en la reproducción de caballos. Nuestro equipo de
                        veterinarios y técnicos especializados proporciona un manejo profesional y ético durante todo el
                        proceso. Utilizamos semen de alta calidad, ya sea fresco, refrigerado o congelado, proveniente
                        de sementales de renombre colombianos. Además, brindamos seguimiento completo, desde la sincronización del
                        ciclo estral hasta la confirmación de la gestación, garantizando así los mejores resultados para
                        nuestros clientes. </p>

                        <a href="https://wa.me/573117077455"
                            target="_blank" >
                            Para mas informacion, comunicate con nosotros al numero <span class="phone-number"> +57
                            3117077455</span>
                        </a>

                </div>
            </div>
        </div>

    </div>

</div>