<div class = "container-fluid">
    
        <div class="row">
            <div class="col-md-12 textos">
            <h1 class="text-center" >Bienvenido {{name}} al panel de administración.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 textos">
            <p class="text-center">Desde aquí podrás gestionar los caballos, productos, servicios y eventos de la plataforma.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 textos">
                <p class="text-center">Selecciona una opción del menú lateral para comenzar.</p>
                
            </div>
    
</div>
