<div class="container-fluid">
    <div class="row">
        <h1>Recuperación de Contraseña</h1>
        <form class="formContainer" [formGroup]="recoverForm" (ngSubmit)="onResetPassword()">
            <div class="row justify-content-center">
                <div class="col-4">
                    <label for="contraseña">*Contraseña: </label>
                    <input id="contraseña" type="text" class="form-control" placeholder="Contraseña:"
                        aria-label="*Contraseña1:" formControlName="password"
                        [ngClass]="{'is-invalid': hasErrors('password', 'required') || hasErrors('password', 'email')}">
                    <div *ngIf="hasErrors('password', 'required')" class="text-danger">la Contraseña es requerida
                    </div>
                </div>
                <div class="col-4">
                    <label for="confirmContraseña">*Confirmar contraseña: </label>
                    <input id="confirmContraseña" type="text" class="form-control" placeholder="Contraseña:"
                        aria-label="*Contraseña2:" formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': hasErrors('confirmPassword', 'required') || hasErrors('confirmPassword', 'email')}">
                    <div *ngIf="hasErrors('confirmPassword', 'required')" class="text-danger">la Contraseña es requerida
                    </div>
                </div>
                
            </div>
            <button type="submit" [disabled]="!recoverForm.valid" style="width: 32%; margin-left: 34%;">Cambiar Contraseña</button>
        </form>
    </div>
</div>